enum {{classname}}: {{#isNumber}}int{{/isNumber}}{{#isString}}string{{/isString}}
{
    /**
     * Possible values of this enum
     */
    {{#allowableValues}}
    {{#enumVars}}
    {{#enumDescription}}
    /**
     * {{enumDescription}}
     */
    {{/enumDescription}}
    case {{{name}}} = {{{value}}};

    {{/enumVars}}
    {{/allowableValues}}
}
