includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  paths:
    - app
  # The level 9 is the highest level
  level: 5
  ignoreErrors:
    - '#Instantiated class Generated\\IsekaiJourney\\JourneyLog\\.* not found\.#'
    - '#Call to method .*\(\) on an unknown class Generated\\IsekaiJourney\\JourneyLog\\.*\.#'
    - '#PHPDoc tag @.* for variable \$.* contains unknown class Generated\\IsekaiJourney\\JourneyLog\\.*\.#'
    - '#Parameter .* of method .*::.*\(\) has invalid type Generated\\IsekaiJourney\\JourneyLog\\.*\.#'
    - '#Property .*::.* has unknown class Generated\\IsekaiJourney\\JourneyLog\\.* as its type\.#'
    - '#Access to constant .* on an unknown class Generated\\IsekaiJourney\\JourneyLog\\.*\.#'
    - '#Anonymous function has invalid return type Generated\\IsekaiJourney\\JourneyLog\\.*\.#'
    - '#Class Generated\\IsekaiJourney\\JourneyLog\\.* not found\.#'
    - '#Method .*::.*\(\) has invalid return type Generated\\IsekaiJourney\\JourneyLog\\.*\.#'
